* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Add styles here! */

.card{
  border-bottom: .5rem hsl(0deg, 0%, 40%) solid
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  width: fit-content;
  padding: 16px 16px;
  border-bottom: .5rem hsl(45deg, 100%, 40%) solid;
}

.intro-chunk {
  border-bottom: .5rem hsl(0deg, 0%, 40%) solid;
  padding-top: 96px;
  padding-bottom: 8px;
}

.intro-chunk p {
  max-width: 45%;
  padding-top: 8px;
}

.max-width-wrapper {
  border-bottom: 4rem hsl(0deg, 0%, 60%) solid
}

p,
h1 {
  padding-left: 24px;
  padding-right: 24px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}