* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Add styles here! */

.card{
  border-bottom: .5rem hsl(0deg, 0%, 40%) solid
}

footer {
  border: solid hotpink;
  padding: 8px;
  margin-top: auto;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  width: fit-content;
  padding: 16px 16px;
  border-bottom: .5rem hsl(45deg, 100%, 40%) solid;
}

.intro-chunk {
  padding-left: 16px;
  border-bottom: .5rem hsl(0deg, 0%, 40%) solid;
}

.max-width-wrapper {
  border-bottom: 4rem hsl(0deg, 0%, 60%) solid
}

strong {
  color: hsl(160deg, 100%, 30%);
}