* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Add styles here! */

.card{
  border-bottom: .5rem hsl(0deg, 0%, 40%) solid;
  margin-left: 512px;
  margin-right: 128px;
  padding-top: .25px; 
  width: 35%;
  background-color: white;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  width: fit-content;
  padding: 16px 16px;
  border-bottom: .5rem hsl(45deg, 100%, 40%) solid;
  margin-left: -16px;
  margin-top: 8px;
}

.intro-chunk {
  border-bottom: .5rem hsl(0deg, 0%, 40%) solid;
  padding-top: 64px;
  padding-bottom: 8px;
  padding-left: 512px;  
}

.intro-chunk p {
  min-width: 50%;
  max-width: 65%;
  padding-top: 8px;
}

main{
  background-color: hsl(0deg, 0%, 60%);
  min-height: 100%;
  padding-top: 64px;
  border-top: 1px hsl(0deg, 0%, 40%) solid;
}

p,
h1 {
  padding-left: 24px;
  padding-right: 24px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}